/* body {
    background-color: blue;
}

@media (min-width: 600px) {
    body{
        background-color: red;
    }

}
@media (min-width: 800px) {
    body{
        background-color: green;
    }

} */

body {
    background-color: beige;
}

nav {
    display: flex;
    justify-content: space-around; 
    border: 2px solid chocolate;  
}

nav a {
    margin: 2px;
}

@media (max-width: 600px){
    nav {

    }
}