/* body {
    background-color: blue;
}

@media (min-width: 600px) {
    body{
        background-color: red;
    }

}
@media (min-width: 800px) {
    body{
        background-color: green;
    }

} */
/* applied for everything  */
body {
    background-color: beige;
}

nav {
    display: flex;
    justify-content: space-around; 
    border: 2px solid chocolate;  
}

nav a {
    margin: 5px;
}

@media (min-width: 600px){
    nav {
        flex-direction: column;   
        align-items: center;  
    }
    body {
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 15px;
    }
    nav a {
        /* padding-left: 15px;
        padding-right: 15px; */
    }
}